.chat-message-box {
    list-style-type: none;
    margin: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chat-message {
    display: inline-block;
    line-height: 1.5rem;
    padding: 10px 20px;
    border-radius: 40px;
    max-width: 40%;
}

.message-sender {
    color: rgb(185, 185, 185);
    font-size: 0.7rem;
    flex-basis: 100%;
}

.author-message {
    border-bottom-right-radius: 0;
    margin-left: auto;
}

.others-message {
    border-bottom-left-radius: 0;
    margin-right: auto;
}

.author-sender {
    text-align: right;
}