#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

#chat-name {
   font-size: x-large;
   font-weight: 500;
   text-transform: uppercase;
}

#user-color {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
}